/*this style sheet is just for the homepage! all other pages are style2*/

    body { 
      font-family: 'Poppins', sans-serif;
margin: 0;
padding: 10px; 
background: black;
   background-image: url(me.jpg);
 background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;

font-size: 16px;
line-height: 24px;

}



a { color: black;
}

a:hover {
    color: #002fa7; 
}

#wrap { 
  
    position: sticky; 
margin: 20px auto;
width: 900px;
     
background: black;
 float: right; 
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 10px;
border-radius: 10px;
border-radius: 10px;
   
}

#header {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 100px;
border-top-right-radius: 100px;
padding: 20px 0 40px 0;
}

#header h1 {
margin: 0;
padding: 0 0 0 30px;
font-weight: bold;
color: white;
font-size: 38px;
line-height: 65px;
letter-spacing: -1px;
}

#header h2 {

border-radius: 10px;
border-radius: 10px;
border-radius: 10px;
margin: 0 0 0 20px; 
padding: 5px 12px;
font-weight: normal;
color: #171717;
font-size: 22px;
letter-spacing: -1px;
background: #FFEE9F;
border: 1px solid #FFE25F;
display:inline-flex;
}

#topmenu {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
background: #e1e1e1;

padding: 1px 1px;
border-bottom: 1px solid #e1e1e1;
border-top: 1px solid #e1e1e1;
}



#topmenu ul {

    margin: 0; 
    padding: 1px 3px; 
    list-style-type: none; 
    float: left;
    display: block; 
    text-align: center; 
   
}

#topmenu li { 
    display: inline; 
    padding: 0 20px 0 0 }

#topmenu li a { 
    text-decoration: none; 
}



#menu {
font-size: 14px;
float: right;
width: 300px; 
color: white;
margin: 30px 20px 20px 0;
}

#menu h3 {
font-weight: normal; 
background: #5f5f5f; 
color: #fff;
padding: 10px;
margin: 10px 0; 
}

#menu ul { 
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
list-style-type: none; 
margin: 0; 
padding: 0 10px 10px 10px;
    color: white;
}

#menu ul li a { 
    color: white; 
    text-decoration: none; 
    border-bottom: 1px dotted white; 
}
#menu ul li a:hover { 
    color: darkturquoise;
    border-bottom: 1px dotted #002fa7; 
}

#content { 
    float: left; 
    width: 580px; 
    margin: 10px 0 40px 20px;
    color: white;
}

#content h2 {
    font-weight: normal; 
    font-size: 22px; 
    line-height: 33px;
    color: white;
}

#content h3 { 
    font-size: 17px; 
    font-weight: normal;
    color: white;
}

.cleft {
    float: left; 
    width: 280px;
    height: 140px;
    margin: 10px 0; 
}

.cright { 
    float:inherit;
    width: 280px; 
 
    margin: 5px 0; 
}

#footer { 
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;


border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;

background: #3f3f3f;
color: #fff;
padding: 20px;
border-top: 1px solid #1f1f1f;
}

#footer a { 
    color: #fff; 
    text-decoration: none; 
    border-bottom: 1px dotted #fff;
}

#footer a:hover { 
    border-bottom: 1px dotted #ccc;
}

.left { 
    float: left; 
}

.right { 
    float: right;
}

.clear {
    clear: both;
}




